export(
frailtyPenal,
additivePenal,
hazard,
survival,
slope,
subcluster,
terminal,
num.id,
Cmeasures,
SurvIC,
event2,
multivPenal,
timedep,
prediction,
epoce,
Diffepoce
)
import("survival","boot","MASS","survC1")

S3method(plot,frailtyPenal)
S3method(lines,frailtyPenal)
S3method(plot,jointPenal)
S3method(plot,nestedPenal)
S3method(plot,additivePenal)

S3method(print,additivePenal)
S3method(print,frailtyPenal)
S3method(print,jointPenal)
S3method(print,nestedPenal)

S3method(summary,additivePenal)
S3method(summary,frailtyPenal)
S3method(summary,jointPenal)
S3method(summary,nestedPenal)

S3method(print,Cmeasures)

S3method(plot,predJoint)
S3method(print,predJoint)
S3method(print,predFrailty)
S3method(plot,predFrailty)

S3method(print,multivPenal)
S3method(summary,multivPenal)
S3method(plot,multivPenal)

S3method(print,epoce)
S3method(plot,epoce)
S3method(print,Diffepoce)
S3method(plot,Diffepoce)